body {background-color: #a63333;}
h1 {color: #382cd3;text-align: center;}
p {font-size: 20px;}
h2 {color: #dda52c;text-align: center;}
h3 {color: #000000;font-size: 25px;}
ul {font-size: 20px;}
nav {font-size: 20px;}
h4 {color: #dda52c;} 
footer {text-align: center;}